IOPool/TrivialFileCatalog/doc/trivial.dtd

<!ELEMENT storage-mapping (lfn-to-pfn+, pfn-to-lfn+)>
<!ELEMENT lfn-to-pfn EMPTY>
<!ATTLIST lfn-to-pfn protocol CDATA>
<!ATTLIST lfn-to-pfn destination-match CDATA>
<!ATTLIST lfn-to-pfn path-match CDATA>
<!ATTLIST lfn-to-pfn result CDATA>
<!ELEMENT pfn-to-lfn EMPTY>
<!ATTLIST pfn-to-lfn protocol CDATA>
<!ATTLIST pfn-to-lfn destination-match CDATA>
<!ATTLIST pfn-to-lfn path-match CDATA>
<!ATTLIST pfn-to-lfn result CDATA>
