DetectorDescription/Schema/CDLSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns  = "http://www.cern.ch/cms/CDL"
         xmlns:cdl = "http://www.cern.ch/cms/CDL"
	 targetNamespace = "http://www.cern.ch/cms/CDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
			This schema describes which files should be selected for a particular detector description (a configuration). 
			It consists of an Include and Exclude part. 
			Files and Sections can be included or excluded. 
			Within files and sections there can be references to other sections and/or file.
			With "propagate=true" you specify that these files and sections should also be included. 
			The level attribute determines the level. 
			e.g level=3 means "a specified file", files that are referenced by this file, files that are referenced by files that are referenced by this file, and files that are referenced by files that are referenced by files that are referenced by this file.
		
		
		
		
		
		
		</xsd:documentation>
	</xsd:annotation>
	
	<!-- pattern for a filename, it has to end with ".xml" -->
	<xsd:simpleType name="fileNameType">
	  <xsd:restriction base="xsd:string">
	    <xsd:pattern value="\i+\.xml"/>
	  </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:attributeGroup name = "ConfigurationAttributes">
		<xsd:attribute name = "name" type = "xsd:string"/>
		<xsd:attribute name = "version" type = "xsd:integer"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "FileAttributes">
		<xsd:attribute name = "name" use = "required" type = "fileNameType"/>
		<xsd:attribute name = "url" use = "required" type = "xsd:anyURI"/>
		<xsd:attribute name = "propagate" use = "optional" type = "xsd:boolean"/>
		<xsd:attribute name = "level" use = "optional" type = "xsd:integer"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "SectionAttributes">
		<xsd:attribute name = "label" use = "optional" type = "xsd:string"/>
		<xsd:attribute name = "section" use = "optional">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:string">
					<xsd:enumeration value = "LogicalParts"/>
					<xsd:enumeration value = "PositionParts"/>
					<xsd:enumeration value = "Parameters"/>
					<xsd:enumeration value = "Constraints"/>
					<xsd:enumeration value = "Rotation"/>
					<xsd:enumeration value = "Material"/>
					<xsd:enumeration value = "Solid"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name = "filename" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "url" use = "required" type = "xsd:anyURI"/>
		<xsd:attribute name = "propagate" use = "optional" type = "xsd:boolean"/>
		<xsd:attribute name = "level" use = "optional" type = "xsd:integer"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "RootAttributes">
		<xsd:attribute name = "fileName" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "logicalPartName" use = "required" type = "xsd:string"/>
	</xsd:attributeGroup>
	
	<!-- Element definitions -->
	
	<xsd:element name = "Configuration" type = "ConfigurationType">
	  <!--xsd:key name="File">
	    <xsd:selector xpath=".//cdl:File"/>
	    <xsd:field xpath="@name"/>
	  </xsd:key-->
	</xsd:element>
	<xsd:element name = "Include" type = "IEType">
	  <xsd:key name="File">
	    <xsd:selector xpath=".//*"/>
	    <xsd:field xpath="@name"/>
	  </xsd:key>
	</xsd:element>
	<xsd:element name = "Exclude" type = "IEType"/>
	<xsd:element name = "File" type = "FileType"/>
	<xsd:element name = "Section" type = "SectionType"/>
	<xsd:element name = "Root" type = "RootType"/>
        <xsd:element name = "Schema">
		<xsd:complexType>
			<xsd:attribute name="schemaLocation" use = "optional" type="xsd:string"/>
			<xsd:attribute name="validation" use = "required" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Type definitions -->
	<xsd:complexType name = "ConfigurationType">
		<xsd:sequence>
			<xsd:element ref = "Include" minOccurs = "0"/>
			<xsd:element ref = "Exclude" minOccurs = "0"/>
			<xsd:element ref = "Root" minOccurs = "1" maxOccurs = "unbounded"/>
			<xsd:element ref = "Schema" minOccurs = "1" maxOccurs = "1"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "ConfigurationAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "IEType">
		<xsd:sequence>
			<xsd:element ref = "File" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "Section" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "FileType">
		<xsd:sequence>
			<xsd:element ref="File" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "FileAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "SectionType">
		<xsd:attributeGroup ref = "SectionAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "RootType">
		<xsd:attributeGroup ref = "RootAttributes"/>
	</xsd:complexType>
	
	<!-- Attribute definitions -->
	
</xsd:schema>
