DetectorDescription/Schema/DDLLogicalPart.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
		It describes the definition of a logical part. A logicalpart definition is based on a solid and a type of material. These can either be defined "inline" or be referenced
	
		
		</xsd:documentation>
		<xsd:documentation xml:lang = "en">
		The sensitive attribute should be set true if this document is a sensitive logicalpart
	
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "DDLSolid.xsd"/>
	<xsd:include schemaLocation = "DDLMaterial.xsd"/>
	<xsd:include schemaLocation = "DDLPosPart.xsd"/>
	<xsd:group name = "SolidOptions">
		<xsd:choice>
			<xsd:element ref = "Solid"/>
			<xsd:element ref = "rSolid"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name = "MaterialOptions">
		<xsd:choice>
			<xsd:element ref = "Material"/>
			<xsd:element ref = "rMaterial"/>
		</xsd:choice>
	</xsd:group>
	<xsd:attributeGroup name = "LogicalPartAttributes">
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "sensitive" use = "optional" type = "xsd:boolean"/>
	</xsd:attributeGroup>
	
	<!-- Including other schema files -->
	
	
	<!-- Element definitions -->
	
	<xsd:element name = "LogicalPart" type = "LogicalPartType"/>
	
	<!-- Type definitions -->
	
	<xsd:complexType name = "LogicalPartType">
		<xsd:sequence>
			<xsd:group ref = "SolidOptions"/>
			<xsd:group ref = "MaterialOptions"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "LogicalPartAttributes"/>
	</xsd:complexType>
	
	<!-- Attributes -->
	
</xsd:schema>