DetectorDescription/Schema/DDLParameter.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:include schemaLocation = "DDLTypes.xsd"/>
	<xsd:attributeGroup name = "ParameterAttributes">
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "value" use = "required" type = "dimensionlessT"/>
		<xsd:attribute name = "unit" default = "dimensionless" type = "unitT"/>
		<xsd:attribute name = "quantity" use = "optional" type = "quantityT"/>
	</xsd:attributeGroup>
	
	<!-- Include schema parts -->
	
	
	<!-- Element definitions -->
	
	<xsd:element name = "Parameter" type = "ParameterType"/>
	<xsd:element name = "Constant" type = "ParameterType"/>
	<xsd:element name = "ParS" type = "ParameterType"/>
	<xsd:element name = "ParE" type = "ParameterType"/>
	
	<!-- Type definitions -->
	
	<xsd:complexType name = "ParameterType">
		<xsd:attributeGroup ref = "ParameterAttributes"/>
	</xsd:complexType>
	
	<!-- Attribute definitions -->
	
</xsd:schema>
