DetectorDescription/Schema/DDLPosPart.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
		This schema describes position parts (PosParts). A position part is based on a logical part and via a rotation and translation it is placed in another logical part. The rotation can be referenced or be defined in line. Furthermore it is possible to refer to functions that describe a Parameterised positioning.






		
		
		</xsd:documentation>
		<xsd:documentation xml:lang = "en">
		The call element is used to make external calls to fuctions that describe parameterizations. The functionName attribute is a string that will have the following format: f([vector of parameters],function name). I will return a vector of rotations and translations.






		
		
		</xsd:documentation>
		<xsd:documentation>
		Changes:
		mec	20011018	Include DDLTypes.
					Gave lengthT type to Translation dx, dy, dz
					Changed RotationOptions by adding minOccurs = "0" to the choice tag.
		mec	20020131	Change CALL to new ParameterisedBuilder.
		mec	20020219	Moved Translation to DDLTranslation.xsd
		mec	20020419	Deleted ParameterisedBuilder because Martin called it 
					AlgoPosPart...
		
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "DDLTypes.xsd"/>
	<xsd:include schemaLocation = "DDLTranslation.xsd"/>
	<xsd:include schemaLocation = "DDLRotation.xsd"/>
	<xsd:include schemaLocation = "DDLReference.xsd"/>
	<xsd:include schemaLocation = "DDLParameter.xsd"/>
	<xsd:attributeGroup name = "AlgoPosPartAttributes">
		<xsd:attribute name = "algo" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "url" use = "optional" type = "xsd:string"/>
		<xsd:attribute name = "start" use = "optional" type = "xsd:decimal"/>
		<xsd:attribute name = "end" use = "optional" type = "xsd:decimal"/>
		<xsd:attribute name = "incr" use = "optional" type = "xsd:decimal"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "PosPartAttributes">
		<xsd:attribute name = "label" use = "optional" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:group name = "RotationOptions">
		<xsd:choice>
			<xsd:element ref = "Rotation"/>
			<xsd:element ref = "rRotation"/>
			<xsd:element ref = "ReflectionRotation"/>
			<xsd:element ref = "rReflectionRotation"/>
		</xsd:choice>
	</xsd:group>
	
	<!--  Included schemas -->
	
	
	<!-- Element definitions -->
	
	<xsd:element name = "PosPart" type = "PosPartType"/>
	<xsd:element name = "AlgoPosPart" type = "AlgoPosPartType"/>
	
	<!-- Groups -->
	
	
	<!-- Type definitions -->
	
	<xsd:complexType name = "PosPartType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref = "rLogicalPart" minOccurs = "2" maxOccurs = "2"/>
			</xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:choice minOccurs = "0">
						<xsd:group ref = "RotationOptions"/>
					</xsd:choice>
					<xsd:element ref = "Translation" minOccurs = "0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref = "AlgoPosPart" minOccurs = "0"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attributeGroup ref = "PosPartAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "AlgoPosPartType">
		<xsd:sequence>
			<xsd:element ref = "rLogicalPart" minOccurs = "2" maxOccurs = "2"/>
			<xsd:element ref = "ParS" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "ParE" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "AlgoPosPartAttributes"/>
	</xsd:complexType>
</xsd:schema>
