DetectorDescription/Schema/DDLRotation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
		Rotations are defined as described in GEANT3. It describes ONLY a rotation, and there is no handiness. The rotation will be used for positioning the PosParts in the LogicalParts, are defined relative to this LogicalPart.
	
		</xsd:documentation>
		<xsd:documentation xml:lang = "en">
		mec	20020219	Added element Reflection which is essentially a left-handed rotation so I used RotationType as the basis for this element.  The "meaning" to Reflection being distinct from Rotation is in the Parser code.
	
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "DDLTypes.xsd"/>
	<xsd:attributeGroup name = "RotationAttributes">
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
		<xsd:attribute name = "theta1" use = "required" type = "angleT"/>
		<xsd:attribute name = "phi1" use = "required" type = "angleT"/>
		<xsd:attribute name = "theta2" use = "required" type = "angleT"/>
		<xsd:attribute name = "phi2" use = "required" type = "angleT"/>
		<xsd:attribute name = "theta3" use = "required" type = "angleT"/>
		<xsd:attribute name = "phi3" use = "required" type = "angleT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	
	<!-- Include namespaces -->
	
	
	<!-- Element definition -->
	
	<xsd:element name = "Rotation" type = "RotationType"/>
	<xsd:element name = "ReflectionRotation" type = "RotationType"/>
	
	<!-- Type definition -->
	
	<xsd:complexType name = "RotationType">
		<xsd:attributeGroup ref = "RotationAttributes"/>
	</xsd:complexType>
	
	<!-- Attribute definition -->
	
</xsd:schema>