DetectorDescription/Schema/DDLSolid.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
		Describes the different types of solids that can be used in the definition of the detector description. Most of these descriptions are based on the GEANT3 syntax. 
	


		
		
		
		
		</xsd:documentation>
		<xsd:documentation>
		Changes:

		mec	20011018	Added Polyhedra element, type and attributes.
					Added PolyconeRZ element, type and attributes.
					Changed Trd1 attribute y to y1 and y2.
					Changed attribute names to agreed conventions.
					Added attributes theta and phi to TrapezoidAttributes and made them optional
					Added attributes startPhi and deltaPhi for ConeAttributes and made them optional
                mec     20011211        Re-introduced SubtractionSolid, changing ID to name and Solid to rSolid.
					Added IntersectionSolid and UnionSolid.  All of these are of type BooleanSolidType
		
		
		</xsd:documentation>
	</xsd:annotation>


	<!-- Include namespaces -->
	
	<xsd:include schemaLocation = "DDLTypes.xsd"/>
	<xsd:include schemaLocation = "DDLReference.xsd"/>
	<xsd:include schemaLocation = "DDLTranslation.xsd"/>

	
	<!-- Element definitions -->
	
	<xsd:element name = "Solid" type = "SolidType" abstract = "true"/>
	<xsd:element name = "SubtractionSolid" type = "BooleanSolidType" substitutionGroup = "Solid"/>
	<xsd:element name = "UnionSolid" type = "BooleanSolidType" substitutionGroup = "Solid"/>
	<xsd:element name = "IntersectionSolid" type = "BooleanSolidType" substitutionGroup = "Solid"/>
	<xsd:element name = "Trapezoid" type = "TrapezoidType" substitutionGroup = "Solid"/>
	<xsd:element name = "Box" type = "BoxType" substitutionGroup = "Solid"/>
	<xsd:element name = "Cone" type = "ConeType" substitutionGroup = "Solid"/>
	<xsd:element name = "Polycone" type = "PolyconeType" substitutionGroup = "Solid"/>
	<xsd:element name = "PolyconeRZ" type = "PolyconeRZType" substitutionGroup = "Solid"/>
	<xsd:element name = "Polyhedra" type = "PolyhedraType" substitutionGroup = "Solid"/>
	<xsd:element name = "Trd1" type = "Trd1Type" substitutionGroup = "Solid"/>
	<xsd:element name = "Tube" type = "TubeType" substitutionGroup = "Solid"/>
	<xsd:element name = "Tubs" type = "TubsType" substitutionGroup = "Solid"/>
	<xsd:element name = "ShapeLessSolid" type = "ShapeLessSolidType" substitutionGroup = "Solid"/>
	<xsd:element name = "ZSection" type = "ZSectionType"/>
	<xsd:element name = "RZPoint" type = "RZPointType"/>
        <xsd:element name = "ReflectionSolid" type = "ReflectionSolidType" substitutionGroup="Solid"/>
	
	<!-- Groups -->

	<xsd:attributeGroup name = "TubsAttributes">
		<xsd:attribute name = "rMin" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMax" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "startPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "deltaPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "PolyhedraAttributes">
		<xsd:attribute name = "numSide" use = "required" type = "xsd:positiveInteger"/>
		<xsd:attribute name = "startPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "endPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "TubeAttributes">
		<xsd:attribute name = "rMin" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMax" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "Trd1Attributes">
		<xsd:attribute name = "dx1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dx2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
		<xsd:attribute name = "dy1" use = "optional" type = "xsd:string"/>
		<xsd:attribute name = "dy2" use = "optional" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "RZPointAttributes">
		<xsd:attribute name = "r" use = "required" type = "lengthT"/>
		<xsd:attribute name = "z" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "ZSectionAttributes">
		<xsd:attribute name = "z" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMin" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMax" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "PolyconeAttributes">
		<xsd:attribute name = "startPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "deltaPhi" use = "required" type = "angleT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "ConeAttributes">
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMin1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMax1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMin2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "rMax2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
		<xsd:attribute name = "startPhi" use = "optional" type = "angleT"/>
		<xsd:attribute name = "deltaPhi" use = "optional" type = "angleT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "BoxAttributes">
		<xsd:attribute name = "dx" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dy" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "TrapezoidAttributes">
		<xsd:attribute name = "alp1" use = "required" type = "angleT"/>
		<xsd:attribute name = "alp2" use = "required" type = "angleT"/>
		<xsd:attribute name = "bl1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "bl2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "dz" use = "required" type = "lengthT"/>
		<xsd:attribute name = "h1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "h2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "phi" use = "optional" type = "angleT"/>
		<xsd:attribute name = "theta" use = "optional" type = "angleT"/>
		<xsd:attribute name = "tl1" use = "required" type = "lengthT"/>
		<xsd:attribute name = "tl2" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "lengthUnitT"/>
		<xsd:attribute name = "angleUnit" use = "optional" type = "angleUnitT"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "SolidAttributes">
		<xsd:attribute name = "name" use = "required" type = "xsd:string"/>
	</xsd:attributeGroup>
	

	<!-- Type definitions -->
	
	<xsd:complexType name = "SolidType">
		<xsd:sequence>
			<xsd:element name = "comment" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "SolidAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "BooleanSolidType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:sequence>
					<xsd:element ref = "rSolid" minOccurs = "2" maxOccurs = "2"/>
					<xsd:element ref = "rRotation"/>
					<xsd:element ref = "Translation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "TrapezoidType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "TrapezoidAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "BoxType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "BoxAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ConeType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "ConeAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "PolyconeType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:sequence>
					<xsd:element ref = "ZSection" minOccurs = "2" maxOccurs = "unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref = "PolyconeAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "PolyconeRZType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:sequence>
					<xsd:element ref = "RZPoint" minOccurs = "2" maxOccurs = "unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref = "PolyconeAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ReflectionSolidType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:sequence>
					<xsd:element ref = "rSolid" minOccurs = "1" maxOccurs = "1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ZSectionType">
		<xsd:attributeGroup ref = "ZSectionAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "RZPointType">
		<xsd:attributeGroup ref = "RZPointAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "Trd1Type">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "Trd1Attributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "TubeType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "TubeAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "TubsType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:attributeGroup ref = "TubsAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ShapeLessSolidType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "PolyhedraType">
		<xsd:complexContent>
			<xsd:extension base = "SolidType">
				<xsd:sequence>
					<xsd:element ref = "RZPoint" minOccurs = "2" maxOccurs = "unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref = "PolyhedraAttributes"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
