DetectorDescription/Schema/DDLSections.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
			Describes the different sections that define the different "parts" of the DDL. These sections are based on schema descriptions of these different "parts" Within these sections in the instance documents, there can be references to other data in other instance documents.
		
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "DDLReference.xsd"/>
	<xsd:include schemaLocation = "DDLSolid.xsd"/>
	<xsd:include schemaLocation = "DDLRotation.xsd"/>
	<xsd:include schemaLocation = "DDLConstraints.xsd"/>
	<xsd:include schemaLocation = "DDLParameter.xsd"/>
	<xsd:include schemaLocation = "DDLSpecPar.xsd"/>
	<xsd:include schemaLocation = "DDLMaterial.xsd"/>
	<xsd:include schemaLocation = "DDLLogicalPart.xsd"/>
	<xsd:include schemaLocation = "DDLSchemaConstraints.xsd"/>
	<xsd:attributeGroup name = "SectionAttributes">
		<xsd:attribute name = "label" use = "optional" type = "xsd:string"/>
	</xsd:attributeGroup>
	
	<!-- Include sub schemas -->
	
	
	<!-- Include mechanism does not work with this file under Xerces java 1.4.0 -->
	
	
	<!-- Element definitions-->
	
	<xsd:element name = "DDDefinition" type = "DDDefinitionType"/>
	<xsd:element name = "Section" type = "SectionType" abstract = "true"/>
	<xsd:element name = "LogicalPartSection" type = "LogicalPartSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "PosPartSection" type = "PosPartSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "RotationSection" type = "RotationSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "MaterialSection" type = "MaterialSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "SpecParSection" type = "SpecParSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "ConstraintsSection" type = "ConstraintsSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "SolidSection" type = "SolidSectionType" substitutionGroup = "Section"/>
	<xsd:element name = "ConstantsSection" type = "ConstantsSectionType" substitutionGroup = "Section"/>
	
	<!-- Type definitions -->
	
	<xsd:complexType name = "DDDefinitionType">
		<xsd:sequence>
			<xsd:element ref = "Section" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "SectionType">
		<xsd:sequence>
			<xsd:element name = "comment" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref = "SectionAttributes"/>
	</xsd:complexType>
	<xsd:complexType name = "LogicalPartSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "LogicalPart" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "PosPartSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "PosPart" maxOccurs = "unbounded"/>
					<xsd:element ref = "AlgoPosPart" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "RotationSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "Rotation" maxOccurs = "unbounded"/>
					<xsd:element ref = "ReflectionRotation" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "MaterialSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "Material" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "SolidSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "Solid" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "SpecParSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "SpecPar" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ConstraintsSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "Constraint" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "ConstantsSectionType">
		<xsd:complexContent>
			<xsd:extension base = "SectionType">
				<xsd:sequence>
					<xsd:element ref = "Constant" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- Attribute definition -->
	
</xsd:schema>
