DetectorDescription/Schema/DDLTranslation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.cern.ch/cms/DDL"
	 targetNamespace = "http://www.cern.ch/cms/DDL"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang = "en">
			This schema contains the element Translation which is used in more than one component of the DDL.
		</xsd:documentation>
	</xsd:annotation>

        <!--  Included schemas -->

	<xsd:include schemaLocation = "DDLTypes.xsd"/>

	<!-- Element Definitions -->

	<xsd:element name = "Translation" type = "TranslationType"/>

        <!-- Groups -->

	<xsd:attributeGroup name = "TranslationAttributes">
		<xsd:attribute name = "x" use = "required" type = "lengthT"/>
		<xsd:attribute name = "y" use = "required" type = "lengthT"/>
		<xsd:attribute name = "z" use = "required" type = "lengthT"/>
		<xsd:attribute name = "lengthUnit" use = "optional" type = "xsd:string"/>
	</xsd:attributeGroup>

	<!-- Type definitions -->

	<xsd:complexType name = "TranslationType">
		<xsd:attributeGroup ref = "TranslationAttributes"/>
	</xsd:complexType>
	
</xsd:schema>
